export(UPMASKdata)
export(UPMASKfile)
export(analyse_randomKde2d)
export(analyse_randomKde2d_AutoCalibrated)
export(analyse_randomKde2d_smart)
export(create_randomKde2d)
export(create_smartTable)
export(getStarsAtHighestDensityRegion)
export(innerLoop)
export(kde2dForSubset)
export(meanThreeSigRej)
export(outerLoop)
export(performCuts)
export(takeErrorsIntoAccount)
import(DBI)
import(MASS)
import(RSQLite)
import(parallel)
import(stats)
importFrom("grDevices", "dev.new", "rainbow", "rgb")
importFrom("graphics", "contour", "hist", "image", "lines", "pairs", "par", "plot", "points")
importFrom("utils", "read.table", "write.table")
